darknet/*.o
darknet/*.a
darknet/*.dSYM
darknet/*.csv
darknet/*.out
darknet/*.png
darknet/*.so
darknet/*.exe
darknet/*.dll
darknet/*.lib
darknet/*.dylib
darknet/*.pyc
darknet/mnist/
darknet/data/
darknet/caffe/
darknet/grasp/
darknet/images/
darknet/opencv/
darknet/convnet/
darknet/decaf/
darknet/submission/
darknet/cfg/*
darknet/temp/*
darknet/test/*
darknet/train/*
darknet/valid/*
darknet/build_*/
darknet/ninja/
darknet/ninja.zip
darknet/vcpkg_installed/
!darknet/YoloWrapper.cs
darknet/.fuse*
darknet/*.weights
darknet/*.cmake
darknet/*.ninja
darknet/*.txt
darknet/*.json
darknet/CMakeFiles/
darknet/detect_cuda_compute_capabilities.cu
darknet/.ninja_deps
darknet/.ninja_log
Makefile
*/vcpkg-manifest-install.log
build.log
__pycache__/

# OS Generated #
darknet/.DS_Store*
darknet/ehthumbs.db
Icon?
darknet/Thumbs.db
darknet/*.swp

# IDE generated #
darknet/.vs/
darknet/.vscode/

# Managed by CMake
darknet/src/version.h

# Build artifacts
darknet/lib/
darknet/share/
darknet/include/darknet/
darknet/uselib
darknet/uselib_track
darknet/darknet
darknet/vcpkg/
darknet/sampleVideo1.mp4
darknet/sampleVideo2.mp4
darknet/sampleVideo3.mp4
darknet/sampleVideo3_trimmed.mp4
darknet/sampleVideo4.avi
darknet/predictions.jpg
darknet/yolov4-tiny.conv.29
darknet/yolov4.conv.137
darknet/*.sample
